body {
  overflow: hidden;
}

section {
  width: 250px;
  height: 50px;
  background: black;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  position: relative;
  mix-blend-mode: multiply;
}

button {
  width: 100px;
  display: block;
  cursor: pointer;
  background: transparent;
  border-radius: 30px;
  padding: 5px 20px;
  border: 2px solid white;
  color: white;
  user-select: none;
  transition: 0.2s ease;
}

button:nth-child(3) {
  visibility: hidden;
  position: absolute;
}

.mousemove {
  height: 10px;
  width: 10px;
  border: 2px solid rgba(21, 21, 21, 0.868);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -10;
}

.mousemove2 {
  height: 20px;
  width: 20px;
  border: 2px solid rgba(117, 117, 117, 0.866);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.05s;
  z-index: -10;
}

.mousemove3 {
  height: 40px;
  width: 40px;
  border: 2px solid rgba(173, 173, 173, 0.948);
  border-radius: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.15s;
  background: rgba(239, 239, 239, 0.133);
  z-index: -10;
}
