* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(215, 237, 227);
  font-family: quicksand;
  letter-spacing: 1.6px;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
  color: rgb(65, 194, 134);
}

h1::first-letter {
  text-transform: capitalize;
}

p {
  font-size: 1.6rem;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./wallpaper.png);
}

.card {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(108, 108, 108, 0.373);
  flex-direction: row;
  position: relative;
  backdrop-filter: blur(15px);
  padding: 40px;
  border: 3px solid rgb(65, 194, 134);
}

#refresh {
  background: rgba(50, 50, 50, 0.266);
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 10%;
}

i {
  color: rgb(58, 237, 153);
}

.card-crypto {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 60px;
  width: 80%;
  gap: 10px;
}
