@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", arial;
}

body {
  margin: 0 auto;
}

h2 {
  font-family: "Allura", sans-serif;
  color: rgb(160, 123, 2);
  text-transform: capitalize;
  font-size: 2rem;
}

header {
  background: url(../images/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: rgb(241, 241, 241);
}
header nav {
  display: grid;
  grid-template-columns: 12% 78% 10%;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  header nav {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  header nav {
    grid-template-columns: 50% 20% 30%;
    padding: 20px 0;
  }
}
@media screen and (max-width: 485px) {
  header nav {
    grid-template-columns: 70% 30%;
    padding: 20px 0;
  }
}
header nav h2 {
  color: rgb(241, 241, 241);
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}
header nav h2:hover {
  color: rgb(160, 123, 2);
  transform: translateX(3px);
}
header nav ul,
header nav .nav-icon {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 485px) {
  header nav ul {
    display: none;
  }
}
header nav .nav-icon i:nth-of-type(1):hover {
  color: rgb(102, 127, 255);
}
header nav .nav-icon i:nth-of-type(2):hover {
  color: rgb(102, 176, 255);
}
header nav .nav-icon i:nth-of-type(3):hover {
  color: lightpink;
}
header nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s ease;
  position: relative;
}
header nav li::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(241, 241, 241);
  position: absolute;
  top: 90%;
  opacity: 0;
}
header nav li:hover {
  transform: translateX(3px);
  opacity: 1;
}
header nav li:hover::after {
  opacity: 1;
}
@media screen and (max-width: 850px) {
  header nav li {
    visibility: hidden;
  }
}
header nav i {
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.1s ease;
}
header nav i:hover {
  scale: 1.5;
}
header .header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  margin-top: -150px;
  -webkit-animation: anim 1.5s ease;
          animation: anim 1.5s ease;
}
@-webkit-keyframes anim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
header .header-text h2 {
  font-size: 3.4rem;
  font-weight: 400;
}
header .header-text h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  margin-top: -30px;
}
@media screen and (max-width: 485px) {
  header .header-text h1 {
    font-size: 2.4rem;
  }
}
header .header-text img {
  width: 35px;
  margin: 0 auto;
  transition: 0.5s ease;
}
header .header-text img:hover {
  transform: rotateZ(360deg);
  scale: 1.5;
}
header .header-text p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.9rem;
  margin-top: 50px;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 450px;
  background: rgb(241, 241, 241);
}
@media screen and (max-width: 850px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section1 .intro-left {
  margin: 15px;
  border: 1px dashed rgb(160, 123, 2);
}
.section1 .intro-left .intro {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.section1 .intro-left .intro #logo {
  width: 30px;
}
.section1 .intro-left .intro h2 {
  margin-bottom: -30px;
}
.section1 .intro-left .intro h3 {
  margin-bottom: -30px;
}
.section1 .intro-left .intro img {
  width: 60px;
  margin: 0 auto;
  border-radius: 60px;
}
.section1 .intro-right {
  background: url(../images/store-01.jpg) center/cover;
}
@media screen and (max-width: 850px) {
  .section1 .intro-right {
    display: none;
  }
}

.section2 {
  background: rgb(28, 28, 28);
  height: 1100px;
  position: relative;
}
.section2 .menu {
  width: 50%;
  left: 25%;
  margin: 0 auto;
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 1000px) {
  .section2 .menu {
    width: 70%;
    left: 12.5%;
  }
}
.section2 .menu .menu1 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section2 .menu .menu1 img {
  width: 30px;
  margin: 0 auto;
  margin-top: 20px;
}
.section2 .menu .menu2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  text-transform: capitalize;
  color: rgb(241, 241, 241);
  height: 60px;
  position: relative;
}
.section2 .menu .menu2 ul li {
  cursor: pointer;
}
.section2 .menu .menu2 ul li::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 30px;
  opacity: 0;
  transition: 0.3s ease;
}
.section2 .menu .menu2 ul li:hover::before {
  opacity: 1;
}
.section2 .menu .menu3 {
  background: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 6px solid rgb(160, 123, 2);
}
@media screen and (max-width: 750px) {
  .section2 .menu .menu3 {
    grid-template-columns: 1fr;
    height: 750px;
    overflow: hidden;
  }
}
.section2 .menu .menu3 .plat {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin: 40px 10px 20px 20px;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.384);
}
@media screen and (max-width: 750px) {
  .section2 .menu .menu3 .plat {
    margin: 15px 10px 0 20px;
    padding-bottom: 10px;
  }
}
.section2 .menu .menu3 .plat img {
  border-radius: 50px;
  width: 80%;
}
@media screen and (max-width: 750px) {
  .section2 .menu .menu3 .plat img {
    width: 60%;
  }
}
.section2 .menu .menu3 .plat div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 5px;
  width: 90%;
}
.section2 .menu .menu3 .plat div h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.section2 .menu .menu3 .plat .price {
  color: rgb(160, 123, 2);
  font-weight: bold;
  font-size: 1.1rem;
  transform: translateX(-10px);
}
.section2 .bg {
  position: absolute;
  height: 650px;
  width: 100%;
  background: url(../images/bg-menu-01.jpg) center/cover;
  bottom: 80px;
}

.section3 {
  background: rgb(28, 28, 28);
  height: 650px;
}
@media screen and (max-width: 1050px) {
  .section3 {
    height: 1000px;
  }
}
@media screen and (max-width: 550px) {
  .section3 {
    height: 1100px;
  }
}
.section3 .form-content {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 65%;
  background: black;
}
@media screen and (max-width: 1050px) {
  .section3 .form-content {
    grid-template-columns: 1fr;
    height: 550px;
  }
}
.section3 .form-content .time {
  color: rgb(241, 241, 241);
  margin: 25px;
  padding: 20px;
  border: 1px dashed rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .section3 .form-content .time {
    height: 500px;
  }
}
.section3 .form-content .time img {
  width: 30px;
  margin: 0 auto;
}
.section3 .form-content .time h4 {
  color: rgb(160, 123, 2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.section3 .form-content .time h3 {
  margin-top: -30px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.section3 .form-content .time h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: -20px;
}
.section3 .form-content .time h6 {
  margin-top: -20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 18px;
}
.section3 .form-content .booking {
  background: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 50px;
}
.section3 .form-content .booking h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 10px;
}
.section3 .form-content .booking h3 {
  margin-top: -40px;
  font-size: 1.9rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 1050px) {
  .section3 .form-content .booking h3 {
    margin-top: 0px;
  }
}
.section3 .form-content .booking img {
  width: 25px;
  margin: 0 auto;
}
.section3 .form-content .booking form {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1050px) {
  .section3 .form-content .booking form {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 550px) {
  .section3 .form-content .booking form {
    grid-template-columns: 1fr;
    height: 200px;
  }
}
.section3 .form-content .booking form input,
.section3 .form-content .booking form select {
  height: 50%;
  width: 80%;
  background: rgb(241, 241, 241);
  border: none;
  border-bottom: 1px solid gray;
  transform: translateX(10%);
  outline: none;
}
.section3 .form-content .booking div input {
  background: rgb(28, 28, 28);
  color: rgb(241, 241, 241);
  border-radius: 30px;
  padding: 12px 30px;
  font-weight: 1rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.2s ease;
}
.section3 .form-content .booking div input:hover {
  transform: translateX(3px);
}

.section4 {
  background: rgb(28, 28, 28);
}
.section4 .event-container {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 30% 70%;
}
@media screen and (max-width: 1050px) {
  .section4 .event-container {
    width: 85%;
  }
}
.section4 .event-container .event-top {
  color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.section4 .event-container .event-top img {
  width: 32px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section4 .event-container .event-top h2 {
  font-weight: 400;
  font-size: 2.6rem;
}
.section4 .event-container .event-top h3 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.section4 .event-container .event-bot {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 380px;
}
@media screen and (max-width: 750px) {
  .section4 .event-container .event-bot {
    grid-template-columns: 1fr;
  }
}
.section4 .event-container .event-bot .event-bot-l {
  display: grid;
  grid-template-rows: 50% 50%;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1 {
  margin-bottom: 10px;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2 {
  margin-top: 10px;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2 {
  background: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: 40% 60%;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic1,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic1 {
  background: url(../images/event-01.jpg) center/cover;
  position: relative;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic1 .date,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic1 .date {
  position: absolute;
  height: 85px;
  width: 85px;
  background: rgb(28, 28, 28);
  color: rgb(241, 241, 241);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic1 .date h3,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic1 .date h3 {
  font-size: 1.7rem;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic2,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic2 {
  background: url(../images/event-02.jpg) center/cover;
  position: relative;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic2 .date,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic2 .date {
  position: absolute;
  height: 85px;
  width: 85px;
  background: rgb(28, 28, 28);
  color: rgb(241, 241, 241);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-pic2 .date h3,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-pic2 .date h3 {
  font-size: 1.7rem;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-text,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-text p,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-text i,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-text p,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-text i {
  color: rgb(158, 158, 158);
  font-size: 0.9rem;
  display: inline-block;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-text h5,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-text h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
.section4 .event-container .event-bot .event-bot-l .event-bot-l-1-text h6,
.section4 .event-container .event-bot .event-bot-l .event-bot-l-2-text h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.section4 .event-container .event-bot .event-bot-r {
  background: url(../images/event-03.jpg) center/cover;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 750px) {
  .section4 .event-container .event-bot .event-bot-r {
    display: none;
  }
}
.section4 .event-container .event-bot .event-bot-r-text {
  position: absolute;
  background: rgb(241, 241, 241);
  width: 85%;
  height: 85%;
  top: 50%;
  transform: translateY(-50%);
}
.section4 .event-container .event-bot .event-bot-r-text .date {
  background-color: rgb(28, 28, 28);
  display: inline-block;
  height: 85px;
  width: 85px;
  padding-top: 15px;
  color: rgb(241, 241, 241);
}
.section4 .event-container .event-bot .event-bot-r-text .date h3 {
  font-size: 1.7rem;
}
.section4 .event-container .event-bot .event-bot-r-text-1 {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.section4 .event-container .event-bot .event-bot-r-text-1 p,
.section4 .event-container .event-bot .event-bot-r-text-1 i {
  color: rgb(158, 158, 158);
  font-size: 0.9rem;
  display: inline-block;
}
.section4 .event-container .event-bot .event-bot-r-text-1 h5 {
  font-size: 1.3rem;
  font-weight: 400;
}
.section4 .event-container .event-bot .event-bot-r-text-1 h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.section5 {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
  position: relative;
}
.section5-container {
  background: rgb(28, 28, 28);
}
.section5-top {
  background: rgb(241, 241, 241);
  position: absolute;
  height: 45%;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 50px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  line-height: 30px;
}
@media screen and (max-width: 850px) {
  .section5-top {
    width: 80%;
    padding: 50px;
  }
}
.section5-top i {
  font-size: 1rem;
}
.section5-top h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.section5-top h6 {
  color: rgb(160, 123, 2);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .section5-top p {
    margin-top: 20px;
    font-size: 0.8rem;
  }
}
.section5-img {
  background: url(../images/gmap.jpg) center;
}
.section5 .profil {
  position: absolute;
  background: url(../images/avatar-02.jpg) center/cover;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  top: 27%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

footer {
  background: url(../images/bg-footer.jpg) center/cover;
  height: 270px;
}
footer .footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  color: rgb(241, 241, 241);
  padding: 50px 250px;
}
@media screen and (max-width: 1050px) {
  footer .footer-container {
    padding: 50px 150px;
  }
}
@media screen and (max-width: 850px) {
  footer .footer-container {
    padding: 50px 50px;
  }
}
footer .footer-container .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
}
footer .footer-container .footer-left h2 {
  font-weight: 400;
  font-size: 2.7rem;
}
footer .footer-container .footer-left p {
  width: 90%;
  line-height: 30px;
  font-size: 0.9rem;
}
@media screen and (max-width: 700px) {
  footer .footer-container .footer-left p {
    font-size: 0.7rem;
    line-height: 20px;
  }
}
footer .footer-container .footer-right {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 500px) {
  footer .footer-container .footer-right {
    padding-left: 20px;
  }
}
footer .footer-container .footer-right label {
  display: block;
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 0.85rem;
}
@media screen and (max-width: 450px) {
  footer .footer-container .footer-right label {
    font-size: 0.7rem;
  }
}
footer .footer-container .footer-right input {
  background: none;
  border: 1px solid rgb(65, 65, 65);
  width: 80%;
  height: 30px;
  margin-top: -30px;
}
footer .footer-container .footer-right div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
@media screen and (max-width: 650px) {
  footer .footer-container .footer-right div {
    width: 100%;
  }
}
footer .footer-container .footer-right div h6 {
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 0.85rem;
}
@media screen and (max-width: 450px) {
  footer .footer-container .footer-right div h6 {
    font-size: 0.7rem;
  }
}
footer .footer-container .footer-right div i {
  font-size: 0.8rem;
  color: rgb(65, 65, 65);
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */